<div class="admin-container">
  <div class="input-box">
    <input
      class="search-field"
      type="text"
      placeholder="Search"
      name="search"
      (input)="searchAdmin($any($event.target).value)"
    />
  </div>
  <table>
    <thead class="divider">
      <th>
        <input
          type="checkbox"
          name="allAdminId"
          (change)="selectAll($any($event.target).checked)"
          [checked]="mainCheckBox"
          [(ngModel)]="mainCheckBox"
        />
      </th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Action</th>
    </thead>
    <tbody *ngFor="let data of itemsToDisplay; index as i">
      <tr [ngClass]="{ 'selected-row': data.isChecked }" class="divider">
        <td>
          <input
            type="checkbox"
            name="adminId"
            (change)="checkBoxSelected($any($event.target).checked, i)"
            [checked]="data.isChecked"
          />
        </td>
        <td>{{ data.name }}</td>
        <td>
          <input
            *ngIf="data.isEdit"
            type="text"
            [(ngModel)]="data.email"
          /><span *ngIf="!data.isEdit">{{ data.email }}</span>
        </td>
        <td>
          <select
            *ngIf="data.isEdit"
            (change)="dropDown($any($event.target).value, i)"
          >
            <option>member</option>
            <option>admin</option>
          </select>
          <span *ngIf="!data.isEdit">{{ data.role }}</span>
        </td>
        <td>
          <button
            *ngIf="!data.isEdit"
            type="button"
            (click)="data.isEdit = true"
          >
            Edit</button
          ><button *ngIf="!data.isEdit" type="button" (click)="deleteEntry(i)">
            Delete
          </button>
          <button *ngIf="data.isEdit" type="button" (click)="saveData(i)">
            Save
          </button>
          <button *ngIf="data.isEdit" type="button" (click)="discardChanges(i)">
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <footer
    style="
      display: flex;
      margin-left: 400px;
      margin-right: 400px;
      margin-top: 30px;
    "
  >
    <button type="button" (click)="deleteSelected()">Delete Selected</button>
    <app-pagination
      [current]="current"
      [total]="total"
      (goTo)="onGoTo($event)"
      (next)="onNext($event)"
      (previous)="onPrevious($event)"
    ></app-pagination>
  </footer>
</div>
